name: Build Operator Image

on:
  pull_request_target:
    types: [closed]

permissions:
  actions: write
  contents: read

env:
  IMG: quay.io/llamastack/llama-stack-k8s-operator:latest

jobs:
  build-arch:
    if: github.event.pull_request.merged == true && github.event.pull_request.base.ref == 'main'
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: amd64
            runner: ubuntu-24.04
            platform: linux/amd64
          - arch: arm64
            runner: ubuntu-24.04-arm
            platform: linux/arm64
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version-file: go.mod

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f

      - name: Login to Quay.io
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: quay.io
          username: ${{ secrets.APP_QUAY_USERNAME }}
          password: ${{ secrets.APP_QUAY_TOKEN }}

      - name: Build and push single-arch image
        run: |
          make image-build-push-single \
            CONTAINER_TOOL=docker \
            PLATFORM=${{ matrix.platform }} \
            IMG=${{ env.IMG }}-${{ matrix.arch }}

  create-manifest:
    if: github.event.pull_request.merged == true && github.event.pull_request.base.ref == 'main'
    needs: build-arch
    runs-on: ubuntu-24.04
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f

      - name: Login to Quay.io
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: quay.io
          username: ${{ secrets.APP_QUAY_USERNAME }}
          password: ${{ secrets.APP_QUAY_TOKEN }}

      - name: Create and push multi-arch manifest
        run: |
          docker buildx imagetools create -t ${{ env.IMG }} \
            ${{ env.IMG }}-amd64 \
            ${{ env.IMG }}-arm64
